body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.welcome {
  font-size: 10vh;
  overflow: hidden;
  white-space: nowrap;
}

.letter {
  opacity: 0;
  animation: appear 0.5s forwards;
  animation-delay: calc(0.15s * var(--i));
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Button "Learn More" */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease-out;
}

button {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  isolation: isolate;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  border-radius: 9999rem;
  background: transparent;
  position: relative;

  & > .back {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: inherit;
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -1;

    &::before {
      content: "";
      width: 0;
      height: auto;
      aspect-ratio: 1;
      border-radius: 50%;
      background: black;
      position: absolute;
    }
  }

  &:hover {
    color: white;

    & > .back {
      transform: scale(95%);

      &::before {
        width: 120%;
      }
    }
  }

  &:active {
    & > .back {
      transform: scale(90%);
    }
  }
}
